body {margin: 0px;}

.header {width:100%;
	     height: 50px;
	     background-color: #282727;
	     height: 70px}

.header_logo{float: left;}

.header_menu {margin-left: 30%;
              padding-top: 3px;}

.header li {float: left;
            list-style: none;
            padding-right: 20px;
            font-size: 20px;
            color: #ffffff;}

.header a {text-decoration: none;
           color: white;}

.professional{clear: both;
              text-align: center;
              padding-top: 150px;
              padding-bottom: 150px;
              background-image: url("/photo/top.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-color: #000000;}

.professional p {font-size: 20px;
                 color: #ffffff;}

h2 {font-size: 40px;
text-align: center;
padding-bottom: 40px;
padding-top: 30px;
color: #F5DA81;}

.philosophy table {margin-right: auto;
	               margin-left: auto;
                   font-size: 25px;
                   padding-top: 50px;
                   padding-bottom: 50px;}

.philosophy p {text-align: center;
               padding-top: 30px;
               font-size: 25px;}

.philosophy td {padding-right: 40px;
	            padding-top: 20px;}

.philosophy {padding-bottom: 100px;
             background-color: #fdf5e3;}

.philosophy h2 {margin-top: 0px;
                padding-top: 120px;}

.service {padding-top: 30px;
	      padding-bottom: 15px;
          background-color: #f0f0f0;}

.service p {   text-align: center;
               padding-top: 30px;
               margin-left: auto;
               margin-right: auto;
               font-size: 25px;}

.service1 p {  font-size: 30px;
                 color: #ffffff;}

.service table {margin-right: auto;
                margin-left: auto;
                text-align: center;
                padding-top: 50px;
                font-size: 20px;
                width: 100%;
                }

.service span {width: 390px;
               text-align: center;}

.service td {padding-left: 50px;
             padding-right: 50px;}

.footer  {text-align: center;
          background-color: #475e63;
          clear: both;}

.footer table {margin-left: 8%;
               padding-top: 15px;
               }

.footer td {padding-left: 20px;
            padding-bottom: 5px;
            color: #ffffff;}

.company table {margin-left: auto;
                margin-right: auto;
                padding-bottom: 80px;
                padding-top: 20px;
                }

.company-top {clear: both;
              text-align: center;
              padding-top: 150px;
              padding-bottom: 150px;
              background-image: url("/photo/company.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-color: #000000;}

.company-top p {font-size: 30px;
                color: #ffffff;}

.company td {font-size: 20px;
             padding-top: 30px;
             padding-right: 40px;}

h3 {text-align: center;
    font-size: 40px;
    padding-top: 40px;} 

.service li {list-style: none;
             float: left;
             width: 33%;
             font-size: 25px;
             text-align: center;}

.service ul {height: 360px;}

.cheif {clear: both;
              padding-top: 150px;
              padding-bottom: 150px;
              margin-left: 30%; 
              background-image: url("/photo/cheif.jpg");
              background-size: contain;
              background-repeat: no-repeat;}

.cheif-massage {margin-left: 10%;
                padding-bottom: 150px;}

.cheif-massage h4 {font-size: x-large;
                   padding-top: 50px;}

.contact p {font-size: 30px;
            color: #000000;
            text-align: center;
           }

.kontact table {margin-right: auto;
                margin-left: auto;
                font-size: x-large;
                padding-top: 80px;
                padding-bottom: 80px;
                float: left;}

.kontact td {padding-right: 20px;
             padding-left: 20px;}

.contact     {clear: both;
              text-align: center;
              padding-top: 150px;
              padding-bottom: 150px;
              background-image: url("/photo/contact.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-color: #000000;}

.kontact li {list-style: none;
             float: left;
             color: #ffffff;
             height: 450px;
            }

.kontact ul {padding-top: 150px;
             padding-bottom: 500px;
             padding-left: 20%;}

.office {background-color: #00227f;
         padding-right: 10px;
         padding-left: 20px;}

.service a {text-decoration: none;
            color: black;}

.flow {padding-bottom: 80px;}

.consultant {clear: both;
              text-align: center;
              padding-top: 150px;
              padding-bottom: 150px;
              background-image: url("/photo/consultant.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-color: #000000;}

.shun {padding-left: 38%;}

.contact p {font-size: 30px;
                color: #ffffff;}

.consultant p {font-size: 30px;
                color: #ffffff;}
h3 {border-bottom: 3px solid #b9b1b1;
    width: 40%;
    margin-right: auto;
    margin-left: auto;}

.service table {border: 1px #ffffff}

.service-content td {padding-top: 40px;
                     padding-bottom: 40px;
                     padding-left: 10%;}

.service-content h4 {font-size: xx-large;
                     width: 30%;
                     text-align: center;
                     margin-bottom: 5px;}

.service-content table {border: #black}

.service1 {clear: both;
              text-align: center;
              padding-top: 150px;
              padding-bottom: 150px;
              background-image: url("/photo/service.jpg");
              background-size: cover;
              background-repeat: no-repeat;
              background-color: #000000;}
