<html>
<head>
 <meta http-equiv="content-type" charset="utf-8">
 <link rel="stylesheet" href="/coela.css">
 <link rel="SHORTCUT ICON" href="favicon.ico">
 <title>株式会社Coela</title>
</head>
<body>
	<div class = "header">
		<div class = "header_logo">
			<a href="/index">
			<img src = "/logo.png" width="260px" height="70px">
			</a>
		</div>
		<div class = "header_menu">
			<ul>
				<li><a href="/service">サービス</a></li>
				<li><a href="/consultant">コンサルタント紹介</a></li>
				<li><a href="/join">契約までの流れ</a></li>
				<li><a href="/company">会社概要</a></li>
				<li><a href="/contact">お問い合わせ</a></li>
			</ul>
		</div>
	</div>

	<div class = "consultant">
        <h2>CONSULTANT</h2>
        <p>安心と信頼を保証いたします</p>
    </div>

    <div class = "flow">
    	<h3>【コンサルタント紹介】</h3>
    	<img src = "/consultant1.jpg" class="shun" width="25%">
    	<h4>【株式会社Coela コンサルタント 福島俊】</h4>
    </div>
    <div class = "consultant-text">
    <p> 私は、BPR（業務改善含む）、コストマネジメント等に携わるコンサルティングを長年経験してきました。クランアント様とはPL、BS、CFを抜本的に改善する戦略的経営改善を共に進め、新たなマーケティングストラテジーを構築して参ります。<br><br>

今の仕事で大切なのは、お客様の経営の現実を直視して、事業として成り立つための計画を立て、その実践を粘り強く支えていくことです。<br>そのためには、ありとあらゆる知識とスキルが必要です。私たちの取り組みに、ゴールはありません。絶えず疑問を持ち、考えを深め、知識とスキルを成熟させ続け、ベストな経営の理想形をとことん探求いたします。<br>その挑戦姿勢こそ、私たちが持ち続けなければならないものだと思っています。<br>そしてお客様から“経営のパートナー”として長く信頼され続けることこそが私たちの最大の喜びであり、誇りであると私は考えています。</p>
    </div>

	<div class = "footer">
		<table>
			<tr>
				<td>会社名</td>
				<td>株式会社Coela</td>
			</tr>

			<tr>
				<td>所在地</td>
				<td>〒169-0075<br>東京都新宿区高田馬場3-25-21</td>
			</tr>

			<tr>
				<td>代表者</td>
				<td>代表取締役社長　秋月誠心</td>
			</tr>

			<tr>
				<td>設立</td>
				<td>2018年5月17日</td>
			</tr>

			<tr>
				<td>事業内容</td>
				<td>経営コンサルティング業務</td>
			</tr>


		</table>
		</div>

</body>
</html>