<html>
<head>
 <meta http-equiv="content-type" charset="utf-8">
 <link rel="stylesheet" href="file:///Users/sexydynamite/Desktop/coela/coela.css">
 <link rel="SHORTCUT ICON" href="favicon.ico">
 <title>株式会社Coela</title>
</head>
<body>
	<div class = "header">
		<div class = "header_logo">
			<a href="/index.html">
			<img src = "/photo/logo.png" width="250px" height="70px">
			</a>
		</div>
		<div class = "header_menu">
			<ul>
				<li><a href="/company.html">会社概要</a></li>
				<li><a href="/service.html">サービス</a></li>
				<li><a href="/join.html">契約までの流れ</a></li>
				<li><a href="/contact.html">お問い合わせ</a></li>
				<li><a href="/consultant.html">コンサルタント紹介</a></li>
			</ul>
		</div>
	</div>

	<div class = "professional">
		<h2>PROFESSIONAL CONSULTATIONS</h2>
		<p>スタートアップを支える堅実なコンサルティングを提供</p>
		<p></p>
	</div>
	<div class = "philosophy">
		<h2>PHILOSOPHY</h2>
		<table>
			<tr>
				<td>Vision</td>
				<td>Living in harmony.</td>
			</tr>
			<tr>
				<td>Mission</td>
				<td>True world never leaves tracks you make.</td>
			</tr>
			<tr>
				<td>Value</td>
				<td>Speedy, Strightly, Sympathy</td>
			</tr>
		</table>
		<p>MORE</p>
	</div>
	<div class = "service">
		<h2>SERVICE</h2>
		<table>
			<tr>
				 <td><img src= "/photo/gleam.png" width="840px" height="480px"></td>
			</tr>

			<tr>
				<td>経営コンサルティング</td>
			</tr>
		</table>
		<p>MORE</p>
	</div>

	<div class = "footer">
		<table>
			<tr>
				<td>会社名</td>
				<td>株式会社Coela</td>
			</tr>

			<tr>
				<td>所在地</td>
				<td>〒169-0075<br>東京都新宿区高田馬場3-25-21</td>
			</tr>

			<tr>
				<td>代表者</td>
				<td>代表取締役社長　秋月誠心</td>
			</tr>

			<tr>
				<td>設立</td>
				<td>2018年5月17日</td>
			</tr>

			<tr>
				<td>事業内容</td>
				<td>経営コンサルティング業務</td>
			</tr>


		</table>
		</div>

</body>
</html>